<form>
    <div class="form-group">
      <label for="productSKU">SKU</label>
      <input type="text" class="form-control" id="productSKU"  placeholder="Enter product SKU">

    </div>
    <div class="form-group">
      <label for="productName">Name</label>
      <input type="text" class="form-control" id="productName" placeholder="Enter product name">
    </div>
    <div class="form-group">
        <label for="productCategory">Category</label>
        <input type="text" class="form-control" id="productCategory" placeholder="Enter product Category">
    </div>
    <div class="form-group">
        <label for="productPrice">Price</label>
        <input type="number" class="form-control" id="productPrice" placeholder="Enter product Price">
     </div>
     <div class="form-group">
        <label for="productImageUrl">Image Url</label>
        <input type="text" class="form-control" id="productImageUrl" placeholder="Enter product image Url">
     </div>
    <button type="submit" class="btn btn-primary">Create Product</button>
  </form>
